In [0]:
import pandas as pd
df = pd.read_csv("/Users/vamsi/Desktop/Vamsi/Data/Auto_FF/vamsi_temp_21stseptember.csv")
df.head
import random
random.randrange(1,19)
random.randint(1,10)
random.choice(5)

In [0]:
#conda install --name TensorFlow  scikit-learn
# Sagar:~ vamsi$ pip list "to view the list of packages installed on that enveronment

#Sagar:~ vamsi$ conda list -n root
# packages in environment at /Users/vamsi/anaconda:

#Sagar:~ vamsi$ conda list
# packages in environment at /Users/vamsi/anaconda:

In [0]:
import pandas as pd
import numpy as np

In [0]:
# Importing Data
# pd.read_csv(filename)	From a CSV file
# pd.read_table(filename)	From a delimited text file (like TSV)
# pd.read_excel(filename)	From an Excel file
# pd.read_sql(query, connection_object)	Read from a SQL table/database
# pd.read_json(json_string)	Read from a JSON formatted string, URL or file.
# pd.read_html(url)	Parses an html URL, string or file and extracts tables to a list of dataframes
# pd.read_clipboard()	Takes the contents of your clipboard and passes it to read_table()
# pd.DataFrame(dict)	From a dict, keys for columns names, values for data as lists

In [0]:
# Exporting Data
# df.to_csv(filename)	Write to a CSV file
# df.to_excel(filename)	Write to an Excel file
# df.to_sql(table_name, connection_object)	Write to a SQL table
# df.to_json(filename)	Write to a file in JSON format

In [0]:
# Create Test Objects

pd.DataFrame(np.random.rand(20,5)) #	5 columns and 20 rows of random floats

           0         1         2         3         4
0   0.135148  0.412060  0.659656  0.108479  0.652934
1   0.193317  0.733702  0.416998  0.434947  0.242357
2   0.661818  0.887908  0.001198  0.048292  0.848266
3   0.162788  0.668445  0.180693  0.340522  0.166575
4   0.480872  0.780350  0.629506  0.145497  0.361652
5   0.740717  0.694836  0.350969  0.290522  0.614535
6   0.540679  0.681127  0.953376  0.658461  0.840900
7   0.849410  0.614750  0.175570  0.053090  0.686159
8   0.251452  0.074090  0.124589  0.468785  0.625173
9   0.217068  0.448147  0.261337  0.816836  0.717050
10  0.513657  0.856346  0.586980  0.317200  0.652585
11  0.927432  0.184947  0.093068  0.140016  0.867334
12  0.142011  0.612859  0.300056  0.520717  0.429372
13  0.844121  0.824084  0.248138  0.796163  0.234104
14  0.654401  0.788771  0.961824  0.489300  0.043958
15  0.870861  0.019651  0.696231  0.531542  0.217679
16  0.405521  0.658597  0.268423  0.867861  0.354019
17  0.760914  0.471003  0.445643  0.029507  0.983251
18  0.984552  0.752644  0.000506  0.584284  0.062437
19  0.723287  0.786570  0.370922  0.157771  0.983954

In [0]:
pd.Series([1,2,3,4]) #	Create a series from an iterable my_list

0    1
1    2
2    3
3    4
dtype: int64

In [0]:
df.index = pd.date_range('1900/1/30', periods=df.shape[0])  #	Add a date index

NameError: name 'df' is not defined

In [0]:
# Viewing/Inspecting Data
# df.head(n)	First n rows of the DataFrame
# df.tail(n)	Last n rows of the DataFrame
# df.shape()	Number of rows and columns
# df.info()	Index, Datatype and Memory information
# df.describe()	Summary statistics for numerical columns
# s.value_counts(dropna=False)	View unique values and counts
# df.apply(pd.Series.value_counts)	Unique values and counts for all columns